body {
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    font-family: sans-serif;
}

.screen {
    border:1 solid white;
    border-style: inset;
    background-color: aqua;
    width: 500px;
    height: 95vh;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
}

.output-screen {
    background-color: black;
    font-size: 50px;
    position: relative;
}

.output-text {
    font-weight: 100;
    position: absolute;
    bottom: 0px;
    letter-spacing: 2px;
    right: 5px;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box {
    background-color: azure;
    border:1px solid #000000;
    font-size: 20px;
    color: black;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fifth {
    grid-template-columns: 2fr 1fr 1fr;
}

.orange {
    background-color: #F57A12;
    color: white;
}